* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3 {
    color: rgb(34, 34, 34);
}
body {
    font-family: 'Lato', sans-serif;
}

h3,h4 {
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.App {
    transition: all .3s ease;
}
.library-active {
    margin-left: 30%;
}